@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:ital,wght@0,100;0,300;0,900;1,700&display=swap');

.big-title{
    text-align: center;
    font-family: 'Amatic SC',cursive;
    font-size:40px;
}