@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:ital,wght@0,100;0,300;0,900;1,700&display=swap');

.navbar{
    background-color: black;
    justify-content: center;
    display: flex;

}
.navbar a{
    color: white;
    padding:24px 26px;
    text-decoration: none;
    font-size:20px;
    font-family: 'Amatic SC', cursive;
    font-weight:bold;

}

.navbar a:hover{
    background-color:#ACE0F9;
    color:black;
}